---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Feature</h4>
            <div class="hline"></div>
        {% for feature in page.features %}
            <li>{{ feature }}</li>
        {% endfor %}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Product Details</h4>
            <div class="hline"></div>
            <p><b>Tagged:</b> Flat, UI, Development</p>
            <p><b>Brand:</b> {{ page.client }}</p>
            <p>
                <b>Colors:</b>
                {% if page.colors.size == 1 %} 
                    {{ page.colors.first }}
                {% elsif page.colors.size > 1 %}
                    {% for color in page.colors %} 
                        <li>
                            {{ color }} 
                        </li>
                    {% endfor %} 
                {% else %}
                    Not Available
                {% endif %}
            </p>
            <p><b>Size:</b> {{ page.size }}</p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include product.html title="Related Works." limit=5 %}